form {
    width: 90%;
    max-width: 300px;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #202329;
    border-radius:20px;
}
  
  label {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #1E1E1F;
    margin-bottom: 26px;
  }
  
  textarea {
    background-color: #F9FBFC;
    border: 2px solid #202329;
    border-radius: 15px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
  }
  
  textarea::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
    
  }
  
  textarea:focus {
    outline-color: #61DAFA;
  }
  
  .TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: 1px solid #202329;
    font-family: 'Montserrat';
    font-weight: 400px;
    color: white;
    background-image: linear-gradient(to right, #d0cae6 0%, #afa8d6  51%, #d0cae6  100%);
    box-shadow: 0px 5px 15px rgba(32, 43, 46, 0.5);
  }:hover{
    color:#202329;
  }
  
 .TodoForm-button--cancel {
    border:3px ;
  
  }
  /*
  .TodoForm-button--cancel {

    background-image: linear-gradient(to right, #d0cae6 0%, #afa8d6  51%, #d0cae6  100%);
    
  } */